body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f7f7f7;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

.project-description {
    margin-bottom: 20px;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
